<% include header %>

<div id="wrapper">

    <h1 id="gameTitle" class="major">
        <a href="/list/game" class="back"><i class="fa fa-arrow-left"></i></a>
        <%= title %>
        <a href="/save/game/<%= id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </h1>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Critère</th>
                    <th>Valeur</th>
                </tr>
            </thead>
            <tbody>
                <%
                    var ids = []  
                    gameStats.forEach((row)=>{
                %>
                        <tr>
                            <td class="critere"><%= row.description %></td>
                            <td class="value"><%= row.value %></td>
                        </tr>
                <%
                        ids.push(row.id)
                    })
                %>
        </tbody>
    </table>
</div>

<div class="criteres-wrapper">
    <p>
    <%
        gameStats.forEach((row) => {
            %>
                <%- row.value + " " + parseEmotes(row.resumeString.replace(/#/g, givePluriel(row.value))) + " , " %>
            <%
        })
    %>
    <%- parseEmotes(" Hurrah ! Kappa") %>
    </p>
</div>

 <div class="criteres-wrapper">
  <h3 id="critereTitle">Critères</h3>
    <form method="POST" action="/save">
       <%
            gameCrits.forEach((row) => {
        %>
                <input type="checkbox" id="<%= row.name %>" name="<%=row.id%>" <%= ids.indexOf(row.id) > -1 ? 'checked disabled' : '' %>>
                <label for="<%= row.name %>"><%= row.name %></label>
        <%
            });
       %>
        <br />
        <input type="hidden" value="editcriteres" name="action" />
        <input type="hidden" value="<%= title %>" name="game" />
        <input type="submit" value="Sauvegarder" class="primary">
    </form>
</div>

<% include footer %>