<% include header %>

<div id="wrapper">
        <div id="list-wrapper">
            <h1 class="major">
                <a href="/" class="back"><i class="fa fa-arrow-left"></i></a>
                Liste des <%= games != null ? 'jeux' : 'critères' %>
            </h1>
    
            <ul>
                <% if(games!=null){
                    games.forEach((row) => {
                        %>
                            <li><a href="/game/<%=row.id%>"><%=row.title%></a></li>
                        <%
                    })  
                }
                else{
                    criterions.forEach((row) => {
                        %>
                            <li><a href="/criterion/<%=row.id%>"><%= row.name %></a></li>
                        <%
                    })  
                }
                %>
            </ul>
        </div>
    </div>

<% include footer %>